@page
@model PersonalDataModel
@{
    ViewData["Title"] = "Brisanje računa";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}

<h3>@ViewData["Title"]</h3>

<div class="row">
    <div class="col-md-6">
        <p>Vaš korisnički račun sadrži lične podatke koje ste nam dali. Ova stranica Vam omogućava brisanje podataka.</p>
        <p> 
            <strong>Brisanje ovih podataka će trajno ukloniti Vaš račun.</strong>
        </p>
      <!-- <form id="download-data" asp-page="DownloadPersonalData" method="post">
            <button class="btn btn-primary" type="submit">Download</button>
          </form>-->
        <p>
            <a id="delete" asp-page="DeletePersonalData" class="btn btn-danger">Obriši</a>
        </p>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
